

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  /* font-size: 15px;
  line-height: 24px; */
  font-family: var(--ff-body);
  
}


html {
  scroll-behavior: smooth;
}